*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(0, 6, 8);
    color:white;
}
.container{
    text-align: center;
    font-family: 'arial, sans-serif';
    font-size: 35px;
    padding-top: 15px;
}
.file{
    border-color:antiquewhite;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    border-radius: 20px;
    padding-bottom: 20px;
    
}
.notes{
    text-align: center;
    padding-top: 50px;
}
a:hover{
    background-color:red;
}
button{
    background-color:white;
    padding: 8px;
    font-weight:bold;
    border-radius: 8px;
    font-family:'Arial Narrow', Arial';
    
}
a{
text-decoration:none ;
color:black;
}
.about{
    text-align: center;
}